@tailwind base;
@tailwind components;
@tailwind utilities;

td {
  padding: 10px;
}

.heading {
  font-weight: bold;
}

.url {
  color: blue;
  text-decoration: underline;
}

.list {
  padding: 0 0 3pt 0;
}
.listStyle {
  width: 10pt;
}
.listItem {
  width: 472pt;
}
.textInput .fullName {
  font-size: 20pt;
  font-weight: bold;
  margin: -3px 0px;
}
.textInput {
  display: none;
  font-family: 'Calibri';
  width: 100%;
  font-size: 10pt;
  padding: 0px;
  margin: 0px;
  border: 1px dotted #333;
  color: #333;
  outline: 0;
}
